@charset "utf-8";

.container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.left-menu{
    
    width: 10%;
    padding: 30px;
    /* position: fixed; */
    /* background-color: #faa; */
}

.main-contents {
    width: 90%;
    padding: 10px;
    /* background-color: #ccc; */
}


body {
    background-color: black;
}

nav {
    background-color: white;
}

h1 {
    text-align: center;
    color: red;
}

h2 {
    text-align: center;
    color: white;
}

h3 {
    text-align: center;
    color: white;
}

p {
    color: white;
}

.img {
    text-align: center;
}